<button mat-raised-button routerLink="/" color="accent">Back to Search</button>
<mat-card>
  <mat-card-title>About this App</mat-card-title>
  <mat-card-content>
    <p>
      <mat-icon>check_circle_outline</mat-icon>
      This app was built with <a href="https://angular.io/">Angular</a> and
      <a href="https://material.angular.io/">Angular Material</a>
    </p>
    <p>
      <mat-icon>check_circle_outline</mat-icon>
      It uses
      <a href="https://developers.google.com/books">Google Books API</a> to
      fetch data about books.
    </p>
  </mat-card-content>
</mat-card>
<mat-card>
  <mat-card-title>About the developer</mat-card-title>
  <mat-card-content>
    <p>
      <mat-icon>check_circle_outline</mat-icon>
      This app was developed by Kevin Urgilés
    </p>
    <p>
      <mat-icon>check_circle_outline</mat-icon>
      Follow me on twitter, check the code on my Github
    </p>
  </mat-card-content>
  <mat-card-actions>
    <a
      href="https://twitter.com/kevin_urgiles_"
      target="_blank"
      mat-raised-button
      color="accent"
    >
      My Twitter account
    </a>
    <a
      href="https://github.com/kevinUrgiles1996/angular-book-finder"
      target="_blank"
      mat-raised-button
      color="accent"
    >
      Github Repository for this App
    </a>
  </mat-card-actions>
</mat-card>
